{% extends 'profile.html' %}
{% load static %}

{% block profile %}
<div id="aws">
  <div class="aws_main">
    <div class="separator">
      <hr class="line">
      <p>AWS ACCOUNT CREATE</p>
      <hr class="line">
    </div>

    <div class="acc_info">
      <div class="input_container">
        <label for="" class="aws_label">AWS Account No</label>
        <input class="input_field" type="text" name="acc-no" placeholder="0000 0000 0000 0000">
      </div>

      <div class="input_container">
        <label for="" class="aws_label">AWS Account Name</label>
        <input class="input_field" type="text" name="acc-name" placeholder="Enter your full name">
      </div>

      <div class="input_container">
        <label for="" class="aws_label">AWS Access Key</label>
        <input class="input_field" type="text" name="access-key" placeholder="* Access Key..">
        <span class="aws_img"><img src="{% static 'img/aws-key.png' %}" height="60px" width="70px" alt="logo"></span>         
      </div>

      <div class="input_container">
        <label for="" class="aws_label">AWS Secret key</label>
        <input class="input_field" type="text" name="secret-key" placeholder="* Secret Key..">
        <span class="aws_img"><img src="{% static 'img/aws-key.png' %}" height="60px" width="70px" alt="logo"></span>               
      </div>
    </div>
    <button class="create_btn">Register</button>
    <div class="key_img">
      <span><img src="{% static 'img/aws-key-main.png' %}" height="300px" width="300px" alt="logo"></span>         
    </div>
  </div>
</div>
{% endblock %}