{% extends 'base.html' %}
{% load static %}
{% block style_n_title %}<title>Register</title>{% endblock %}

{% block content %}
<form class="form otp" method="POST" action="password/" autocomplete="off">
{% csrf_token %}
	<p class="head3">OTP Verification</p>

	<input class="inputotp" type="text" name="otpverif" placeholder="* Enter otp">

	<div class="mail">
		<h5>Enter otp recieved for:</h5>
		<h6>{{mail}}</h6>
		{{form.errors}}
		{% for m in messages %}
	    	<p id="messages">{{m}}</p>
		{% endfor %}	
	</div>

	<div class='btnotp'>
		<input class="btnnxt" type="submit" value="Verify OTP">
	</div>
</form>

{% endblock content %}
{% block js %}<script src="{% static 'js/next.js' %}"></script>{% endblock js %}
