{% extends 'base.html' %}
{% load static %}
{% block style_n_title %}<title>Register</title>{% endblock %}

{% block content %}
<form class="from pass" method="POST" action="Error/" autocomplete="off">
	{% csrf_token %}

	<p class="head4">Create Password</p>

	<input class="inputpass" type="password" name="password1" placeholder="* Password">
	<input class="inputpass" type="password" name="password2" placeholder="* Confirm Password">

	<div class="info">
		{{form.errors}}
		{% for m in messages %}
	   		<p id="messages">{{m}}</p>
		{% endfor %}
	</div>
	
	<div class='btnpass'>
		<input class="btnsub" type="submit" value="Register">
	</div>
</form>

{% endblock content %}
{% block js %}<script src="{% static 'js/password.js' %}"></script>{% endblock js %}
