{% extends 'profile.html' %}
{% load static %}
{% block content %}

<div class="modal">
    <form class="form">

      <div class="separator">
        <hr class="line">
        <p>S3</p>
        <hr class="line">
      </div>

      <div class="info--form">

        <div class="input_container">
          <label for="password_field" class="input_label">Bucket Name</label>
          <input id="password_field" class="input_field" type="text" name="acc-no" placeholder="Enter New Bucket name..">
        </div>

        <div class="input_container">
          <label for="password_field" class="input_label">select</label>
          <select id="password_field" class="input_field" type="text" name="acc-name" placeholder="select">
            <option>select1</option>
            <option>select2</option>
            <option>select3</option>
          </select>
        </div>

        {% comment %} <div class="input_container">
          <label for="password_field" class="input_label">AWS Access Key</label>
          <div class="split">
            <input id="password_field" class="input_field" type="text" name="access-key" placeholder="* Access Key..">
            <span id="password_field" class="input_img"><img src="{% static 'img/aws-key.png' %}" height="60px" width="70px" alt="logo"></span>         
          </div>
        </div>

        <div class="input_container">
          <label for="password_field" class="input_label">AWS Secret key</label>
          <div class="split">
            <input id="password_field" class="input_field" type="text" name="secret-key" placeholder="* Secret Key..">
            <span id="password_field" class="input_img"><img src="{% static 'img/aws-key.png' %}" height="60px" width="70px" alt="logo"></span>         
          </div>
        </div> {% endcomment %}

      </div>

      <button class="Reg--btn">Summit</button>

      <div class="key-img">
        <span><img src="{% static 'img/aws-key-main.png' %}" height="300px" width="300px" alt="logo"></span>         
      </div>
    </form>
  </div>

{% endblock content %}