{% extends 'profile.html' %}
{% load static %}

{% block profile %}
<div id="vpc">
  <div class="vpc-main">
    <div class="separator">
      <hr class="line">
      <p>VPC</p>
      <hr class="line">
    </div>

    <div class="vpc_input">
      <label for="" class="vpc_label">VPC name tag</label>
      <input class="vpc_data" type="text" placeholder="my-vpc-01">

      <label for="" class="vpc_label">Region</label>
      <select class="vpc_data"  type="text" name="">
        <option>US East(N.virginia)us-east-1</option>
        <option>select1</option>
      </select>

      <label for="" class="vpc_label">IPv4 CIDR block</label>
      <input class="vpc_data" type="text" placeholder="10.0.0.0/24">

      <label for="" class="vpc_label">Tenancy</label>
      <select class="vpc_data"  type="text" name="">
        <option>Default</option>
        <option>Dedicated</option>
      </select>

      <label for="" class="vpc_label">Number of Availability Zones (AZs)</label>
      <div id="" class="zone">
        <button id="btn1" class="b">1</button>
        <button id="btn2" class="b">2</button>
        <button id="btn3" class="b">3</button>
      </div>

      <div id="select-container">
        <div class="vpc_input">
          <!-- Select tags will be added here dynamically -->
        </div>
      </div>

      <div class="subnet">
        <div class="public vpc_input">
          <div>
            <label for="" class="vpc_label">Number of public subnets</label>
          </div>
          <div id="public-block" class="subnet-btn">
            <button id="public-btn-0" class="b">0</button>
            <button id="public-btn-1" class="b">1</button>
          </div>
          <div id="public-input-container" class="subnet-input vpc_input"></div>
        </div>

        <div class="private vpc_input">
          <div>
            <label for="" class="vpc_label">Number of private subnets</label>
          </div>
          <div id="private-block" class="subnet-btn zone">
            <button id="private-btn-0" class="b">0</button>
            <button id="private-btn-1" class="b">1</button>
            <button id="private-btn-2" class="b">2</button>
          </div>
          <div id="private-input-container" class="subnet-input vpc_input"></div>
        </div>        
      </div>
      <button class="s3-btn">Create VPC</button>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}<script src="{% static 'js/vpc.js' %}"></script>{% endblock %}